<!DOCTYPE html>
<html>
<h1>HELLO FROM GIT</h1>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="height=device-height, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/files/style.css" />
  <!-- <script src="/SongsBook/files/mainScript.js" charset="utf-8"></script> -->
</head>

<body>

  <div class="cards">
    <button id="btn0" onclick="location.href=window.location.href + '/Vocabulary';"></button>
    <button id="btn1" onclick="location.href=window.location.href + '/SongsBook';"></button>
    <button id="btn2" onclick="location.href=window.location.href + '/Climbing';"></button>
    <button id="btn3" onclick="location.href=window.location.href + '/Travel';"></button>
    <button id="btn4" onclick="location.href=window.location.href + '/Code';"></button>
  </div>

  <div class="lastContent">
    Latest added content... <br />not ready yet
  </div>
</body>
</html>
